{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">

{{wtf.quick_form(registration_form)}}

</div>
<div class="col-md-2"></div>
</div>
</div>
<div class="container"> 
        <div class="row">
          <div class= "col-md-5"> </div>
          <div class="col-md-3">
<img src="https://media0.giphy.com/media/3oz8xH46dD1DSx3vNK/200w.webp?cid=790b7611379c53f75236fe430551bacceb3b8230ff265163&rid=200w.webp" alt="tororo" height="200px" width="200px"id="tororo">
</div>
</div>
<div clas="col-md-4"> </div>
</div>

{% endblock%}
