<h1>Chicago Pizza</h1> 
<p>Chicago pizza, also commonly referred to as deep-dish pizza, gets its name from the city it was invented in. During the early 1900’s, Italian immigrants in the windy city were searching for something similar to the Neapolitan pizza that they knew and loved. Instead of imitating the notoriously thin pie, Ike Sewell had something else in mind. He created a pizza with a thick crust that had raised edges, similar to a pie, and ingredients in reverse, with slices of mozzarella lining the dough followed by meat, vegetables, and then topped with a can of crushed tomatoes. This original creation led Sewell to create the now famous chain restaurant, Pizzeria Uno.</p>

<p>slice of deep dish pizza being pulled from pizza with cheese stretching from bottom of slice
<h2>Chicago Pizza Traditional Toppings:</h2>
<p>Generally, the toppings for Chicago pizza are ground beef, sausage, pepperoni, onion, mushrooms, and green peppers, placed underneath the tomato sauce. Some locations will finish off their pizzas with a sprinkle of Parmesan cheese across the tomato sauce.</p>

<h2>Chicago Pizza Baking Suggestions:</h2>
<p>In order to easily get a Chicago pizza out of the pan, it's important to wipe the pan down with oil. Adding oil to the pan also helps to make the base of the dough a bit crispier. Since there are more toppings and dough, baking a deep dish pizza can be a lengthier process, with a baking time of 30 - 35 minutes.</p>

