<h1>Greek Pizza</h1>
<p>Greek pizza on pizza peel with tomatoes, garlic, and greens in background</p>
<p></p>Greek pizza was created by Greek immigrants who came to America and were introduced to Italian pizza. Greek-style pizza, especially popular in the New England states, features a thick and chewy crust cooked in shallow, oiled pans, resulting in a nearly deep-fried bottom. While this style has a crust that is puffier and chewier than thin crust pizzas, it’s not quite as thick as a deep-dish or Sicilian crust.</p>

<h2>Greek Pizza Traditional Toppings:</h2>
<p></p>Greek pizza is usually heavier on the sauce than the cheese. The sauce typically has a tangy tomato paste with a strong oregano flavor. It is often only topped with cheese, which is usually a mix of mozzarella and cheddar or provolone. It may feature a variety of non-Greek or Greek toppings, such as feta cheese, black olives, and red onion.</p>

<h2>Greek Pizza Baking Suggestions:</h2>
<p>To get a puffy, chewy crust, Greek pizza is typically baked in a shallow, round pan that has been heavily coated in olive oil. Lining the pan with oil also allows the bottom of the dough to fry while it bakes.</p>

