{% extends "base.html" %}

{% block content %}
       <div class="container">
           <div class="landing">
               <h2>Welcome</h2>
               <h2>PIZZA CAFE<br> The coolest place for your favorite pizza!</h2>
               <a href="{{ url_for('signup') }}" class="btn-primary">Sign-Up</a>
               <a href="{{ url_for('login') }}" class="btn-primary">sign-in</a>
               <a href="{{ url_for('order') }}" class="btn-primary">Order</a>
           </div>
       </div>

      

     
  
{% endblock %}