<h1>Neapolitan Pizza</h1>
<p>Close-up view of slice of Neapolitan pizza with cheese, sliced tomatoes, and basil
Neapolitan is the original pizza. This delicious pie dates all the way back to 18th century in Naples, Italy. During this time, the poorer citizens of this seaside city frequently purchased food that was cheap and could be eaten quickly. Luckily for them, Neapolitan pizza was affordable and readily available through numerous street vendors.</p>

<h2>Variations of Neapolitan Pizza</h2>
<p>Today there are three official variants of Neapolitan pizza:</p>

<p>Pizza Marinara: Features tomatoes, garlic, oregano, and extra virgin olive oil.</p>

<p>Pizza Margherita: Features tomatoes, sliced mozzarella, basil, and extra virgin olive oil.</p>

<p>Pizza Margherita extra: Features tomatoes, mozzarella from Campania, basil, and extra virgin olive oil.</p>

<h2>Neapolitan Pizza Traditional Toppings:</h2>
<p></p>The typical Neapolitan pizza toppings are fresh mozzarella, tomatoes, basil leaves, oregano, and olive oil. Since Neapolitan pizza is thin, it isn't designed to handle the weight of too many toppings. In fact, Neapolitan pizza is so thin that it's typically eaten with a fork and knife.</p>

<h2>Neapolitan Pizza Baking Suggestions:</h2>
<p>Many people will tell you that in order to make "real" Neapolitan pizza, it must be baked in a wood burning oven that's heated anywhere from 800 - 1,000 degrees Fahrenheit, similar to how it was made many years ago. Baking the pie at this high of a temperature only takes around 70-90 seconds to fully cook.</p>

