<h1>New York-Style Pizza</h1>
<p>slice of New York style pizza slightly lifted out of pizza pie</p>
<p>With its characteristic large, foldable slices and crispy outer crust, New York-style pizza is one of America’s most famous regional pizza types. Originally a variation of Neapolitan-style pizza, the New York slice has taken on a fame all its own, with some saying its unique flavor has to do with the minerals present in New York’s tap water supply.</p>

<h2>New York-Style Pizza Traditional Toppings:</h2>
<p>New York-style pizza usually features tomato sauce and mozzarella cheese. Unlike its thin crust counterpart, the Neapolitan, New York-style pizzas can handle a wide range of additional toppings, from pepperoni and sausage to mushroom and anchovies. While this style of pizza can have virtually any topping added to it, it's common to find pizza lovers topping New York pizza with condiments, like oregano, red pepper flakes, Parmesan cheese, and garlic powder.</p>

<h2>New York-Style Pizza Baking Suggestions:</h2>
<p>Just like the Neapolitan pizza, many will tell you that in order for a New York-style pizza to be authentic, it has to be cooked in a wood or coal burning oven. Today, many people use gas deck ovens to bake them, which creates the same delicious and crispy result.</p>

